*.user
*.cbp
.cache
Makefile
/build*
/build
/out
.vs
CMakeSettings.json

*.zip
*.pkg

cmake-build*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store

workspace.xml
